In [14]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')
df

     Category Species  Weight   Height   Width  Length1  Length2  Length3
0           1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1           1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2           1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3           1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4           1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0
..        ...     ...     ...      ...     ...      ...      ...      ...
154         6   Smelt    12.2   2.0904  1.3936     11.5     12.2     13.4
155         6   Smelt    13.4   2.4300  1.2690     11.7     12.4     13.5
156         6   Smelt    12.2   2.2770  1.2558     12.1     13.0     13.8
157         6   Smelt    19.7   2.8728  2.0672     13.2     14.3     15.2
158         6   Smelt    19.9   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 8 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [4]:
df.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [ ]:
#split

In [51]:
y = df['Weight']

In [52]:
x = df.drop(['Species','Weight'], axis = 'columns')

In [ ]:
#train_test_split

In [53]:
from sklearn.model_selection import train_test_split

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = 0.7, random_state = 2529)

In [70]:
x_train.shape, x_test.shape

((111, 6), (48, 6))

In [71]:
y_train.shape, y_test.shape

((111,), (48,))

In [22]:
df['Species'].value_counts()

Species
Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: count, dtype: int64

In [ ]:
# model selection

In [72]:
from sklearn.linear_model import LinearRegression

In [73]:
model = LinearRegression()

In [75]:
model.fit(x_train,y_train)

LinearRegression()

In [76]:
y_pred = model.predict(x_test)

In [ ]:
#accuracy

In [85]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [80]:
 mean_squared_error(y_test, y_pred)

15909.606036005674

In [79]:
r2_score(y_test, y_pred)

0.8398246159944498

In [78]:
 mean_absolute_error(y_test, y_pred)

99.5891036673183

In [ ]:
###############################################################################

In [ ]:
# PREDICTION OF FISH WEIGHT USING LABEL ENCODING

In [86]:
df.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [90]:
from sklearn.preprocessing import LabelEncoder

In [91]:
le = LabelEncoder()

In [92]:
df['Species'] = le.fit_transform(df['Species'])

In [93]:
df

     Category  Species  Weight   Height   Width  Length1  Length2  Length3
0           1        0   242.0  11.5200  4.0200     23.2     25.4     30.0
1           1        0   290.0  12.4800  4.3056     24.0     26.3     31.2
2           1        0   340.0  12.3778  4.6961     23.9     26.5     31.1
3           1        0   363.0  12.7300  4.4555     26.3     29.0     33.5
4           1        0   430.0  12.4440  5.1340     26.5     29.0     34.0
..        ...      ...     ...      ...     ...      ...      ...      ...
154         6        5    12.2   2.0904  1.3936     11.5     12.2     13.4
155         6        5    13.4   2.4300  1.2690     11.7     12.4     13.5
156         6        5    12.2   2.2770  1.2558     12.1     13.0     13.8
157         6        5    19.7   2.8728  2.0672     13.2     14.3     15.2
158         6        5    19.9   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 8 columns]

In [94]:
df['Species'].value_counts()

Species
2    56
0    35
4    20
3    17
5    14
1    11
6     6
Name: count, dtype: int64

In [95]:
y=df['Weight']

In [96]:
x = df.drop(['Weight'], axis='columns')

In [97]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.8, random_state=2529)

In [98]:
from sklearn.linear_model import LinearRegression

In [99]:
model = LinearRegression()

In [101]:
model.fit(x_train,y_train)

LinearRegression()

In [102]:
y_pred = model.predict(x_test)

In [103]:
from sklearn.metrics import r2_score

In [105]:
r2_score(y_test, y_pred)

0.7481748619568276